### Cache and logs (Symfony3) ###
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

### Parameters ###
/app/config/parameters.yml

### Composer ###
/vendor/
/var/bootstrap.php.cache
/var/SymfonyRequirements.php
/bin/*
!/bin/console
!/bin/symfony_requirements

### Compiled Assets ###
/web/bundles/
/web/images/
/web/css/
/web/js/

### NPM ###
/node_modules/

### Bower ###
/bower_components/

### PHPUnit ###
/phpunit.xml

### Build data ###
/build/